body {
    background-color:#5C5A55;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: #C1B5A8
}

h2 {
    color: #C1B5A8;

    
    
}

p {
    color: #DFD1C2;

}

.projects {

    display:flex;
    flex-wrap:wrap;

}

h3 {

margin-left: 170px;

}


.project {

width: 30%;
margin: 10px;
padding: 20px 10px;
background: white;
border-radius: 25%;
}

.affdiagram p {

    color: #C1B5A8;

}


.project img{
    width: 400px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(0, 0, 0); /* choose a color */
    display: block;
    margin: auto;
    }


a { 
    text-decoration: none;
    color:#C1B5A8;
    font-style: italic;
}


.project p {
    text-align: center;
    margin: 20px;
    color:#DFD1C2

}



.about{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
    }
    .about p {
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
    }
    .about img {
    width: 250px;
    height: 500px;
    border-radius: 25%;
    border: 2px solid color#6C6C68;
    object-fit:cover;

    }
